
.subtitle {
    text-align: center;
    font-weight: bold;
}

h3:hover{ 
    color: black;
    font-size: larger;
    text-shadow: 3px 3px 6px rgb(255, 150, 190)
}

#postman {
    width: 200px;
    padding: 8px;
    border-radius: 10px;
    background-color: #eee;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    font-family: monospace;
}

h1:hover{ 
    color:black;
    text-shadow: 3px 3px 6px rgb(255, 150, 190); 
}

link:hover{
    color:black;
    text-shadow: 3px 3px 6px rgb(255, 150, 190);
}
        
button {
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 8px auto;
    padding: 8px;
    width: 150px;
    background-color: #ccccff;
    border-radius: 10px;
    font-family: monospace; 
}

.Container {
    text-align: center;
    margin: 8px auto;
    padding: 8px;
    width: 750px;
    background-color: #eee;
    border-radius: 10px;
    font-family: monospace;
}

.GalleryLine {
    display: flex;
    justify-content: space-around;
}

.Gallery {
    text-align: center;
    margin: 8px;
    padding: 8px;
    width: 300px;
    background-color: #eee;
    border-radius: 10px;
    font-family: monospace;
}

body {
    background-image: url("Bildisar/pink-sky-22.jpg"); 
}

.butoon{
    clear:both;
   }

